<h1>Portfolio items</h1>

<%= link_to "Create a new portfolio item", new_portfolio_path %>

<% @portfolio_items.each do |item| %>
  <div class="portfolioItem">
    <%= link_to "#{item.title}", portfolio_path(item), class: "portfolioTitle" %>
    <p class="portfolioDesc"><%= item.subtitle %></p>
    <p class="portfolioBody"><%= item.body %></p>
    <%= image_tag(item.thumb_image, alt: item.title, class: "portfolioThumb") unless item.thumb_image.nil? %>
    <%= link_to "Edit item", edit_portfolio_path(item), class: "editButton" %>
  </div>
<% end %>