<h1>Portfolio items</h1>

<% @portfolio_items.each do |item| %>
  <p class="portfolioTitle"><%= item.title %></p>
  <p class="portfolioDesc"><%= item.subtitle %></p>
  <p class="portfolioBody"><%= item.body %></p>
  <img class="portfolioThumb" src="<%= item.thumb_image %>" alt="<%= item.title %>">
<% end %>